.sidebar-link:focus, .sidebar-link:active,
.sidebar-link {
  color: #fff;              
  background-color: transparent; 
}


.sidebar-link:hover {
  background-color: #0d6efd;
  border-radius: 10px; 
  color: #fff;
}

.sidebar-link .d-flex {
  justify-content: flex-start; 
}