.sidebar {
  transition: width 0.3s;
  width: 250px;
  overflow: hidden;
}

.sidebar.collapse-collapsed {
  width: 80px;
}

.sidebar-link {
  padding: 10px;
  transition: background-color 0.3s ease;
}

.sidebar-link:hover {
  background-color: #206cb8;
  border-radius: 5px;
}

.sidebar-link span {
  transition: opacity 0.3s;
}

